<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//org//DTD Mapper 3.0//EN" "http://org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renshuo.cloud.sys.dao.MenuInfoMapper">
    <resultMap id="menuInfoResults" type="com.renshuo.cloud.sys.domain.MenuInfo"
               autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        id,parent_id,path,is_root,code,title,icon,href,target,is_fun,order_num,is_hidden,create_time,create_by,update_time,update_by
    </sql>
    <sql id="moreColumns">
        id,parent_id,path,is_root,code,title,icon,href,target,is_fun,order_num,is_hidden,create_time,create_by,update_time,update_by
    </sql>

    <sql id="pagerModelWhereSqlId">
        <where>
        </where>
    </sql>


    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="menuInfoResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
            <include refid="moreColumns"/>
        from
        sys_menu_info
        <include refid="pagerModelWhereSqlId" />

        order by parent_id,order_num
    </select>

    <!-- 查询初始化菜单 -->
    <select id="findListMenu" resultMap="menuInfoResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sys_menu_info
        <where>
            is_fun=0
        </where>
        order by parent_id,order_num
    </select>

    <!-- 分页查询 -->
    <select id="pagerModel_COUNT" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select
            count(1)
        from
        sys_menu_info
        <include refid="pagerModelWhereSqlId" />
    </select>

    <!-- excel分页查询 -->
    <select id="pagerExcelModelCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select
            count(1)
        from
        sys_menu_info
        <include refid="pagerModelWhereSqlId" />
    </select>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.renshuo.cloud.sys.domain.MenuInfo"
            parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_menu_info
        <where>
            id=#{id}
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_menu_info
        (id
        ,parent_id
        ,path
        ,is_root
        ,code
        ,title
        ,icon
        ,href
        ,target
        ,is_fun
        ,order_num
        ,is_hidden
        ,create_time
        ,create_by)
        values
        (#{id}
        ,#{parentId}
        ,#{path}
        ,#{isRoot}
        ,#{code}
        ,#{title}
        ,#{icon}
        ,#{href}
        ,#{target}
        ,#{isFun}
        ,#{orderNum}
        ,#{isHidden}
        ,#{createTime}
        ,#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_menu_info set
        id=id
        ,parent_id=#{parentId}
        ,path=#{path}
        ,is_root=#{isRoot}
        ,code=#{code}
        ,title=#{title}
        ,icon=#{icon}
        ,href=#{href}
        ,target=#{target}
        ,is_fun=#{isFun}
        ,order_num=#{orderNum}
        ,is_hidden=#{isHidden}
        ,update_time=#{updateTime}
        ,update_by=#{updateBy}
        <where>
            id = #{id}
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_menu_info
        <where>
            id = #{id}
        </where>
    </delete>

</mapper>