<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//org//DTD Mapper 3.0//EN" "http://org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renshuo.cloud.sys.dao.UserRoleLkMapper">
    <resultMap id="userRoleLkResults" type="com.renshuo.cloud.sys.domain.UserRoleLk"
               autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        id,user_id,role_id,create_by,create_time
    </sql>
    <sql id="moreColumns">
        id,user_id,role_id,create_by,create_time
    </sql>

    <sql id="pagerModelWhereSqlId">
        <where>

        </where>
    </sql>


    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="userRoleLkResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
            <include refid="moreColumns"/>
        from
        sys_user_role_lk
        <include refid="pagerModelWhereSqlId" />
    </select>

    <!-- 分页查询 -->
    <select id="pagerModel_COUNT" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select
            count(1)
        from
        sys_user_role_lk
        <include refid="pagerModelWhereSqlId" />
    </select>

    <!-- excel分页查询 -->
    <select id="pagerExcelModelCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select
            count(1)
        from
        sys_user_role_lk
        <include refid="pagerModelWhereSqlId" />
    </select>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.renshuo.cloud.sys.domain.UserRoleLk"
            parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_user_role_lk
        <where>
            id=#{id}
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_user_role_lk
        (id
        ,user_id
        ,role_id
        ,create_by
        ,create_time)
        values
        (#{id}
        ,#{userId}
        ,#{roleId}
        ,#{createBy}
        ,#{createTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_user_role_lk set
        id=id
        ,user_id=#{userId}
        ,role_id=#{roleId}
        <where>
            id = #{id}
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_user_role_lk
        <where>
            id = #{id}
        </where>
    </delete>

</mapper>